#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Table_1 {
  border-collapse: separate;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}