#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-079fb2a4-a415-46cf-b73b-7844e90b83f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}