#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-webcam_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1510bc7b-3188-4206-bc1c-6494f985c2ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}