#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175935ce-83e3-4400-903d-b05221c4fde3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}