#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-textBlock {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Table_1 {
  border-collapse: separate;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}