#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-textBlock {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45efa876-fdea-4fee-918f-9b2105e9ae0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}