#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4ed4d886-2ced-4654-beac-1f4d20995b50 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}