#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 13px;
  width: 94px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 13px;
  width: 94px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 13px;
  width: 94px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}