#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e94cb8c-05a1-4f87-8b57-e0b9ce37c0cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}