#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-webcam {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-5f26cb5d-a11d-45e6-8841-531fddb4f33c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}