#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}