#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-7005f3f8-a7b7-4ecb-8bf3-2a30d8f3f23f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}