#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d #s-webcam_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8b01df4e-0d0b-431b-9205-5462e65c239d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}