#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Table_1 {
  border-collapse: separate;
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 37px;
  width: 155px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 37px;
  width: 155px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 37px;
  width: 155px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8fa4b8bb-d584-410f-8ba9-610132e4299f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}