#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a15005c9-91c5-4af5-a0cb-0acdb959e5b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}