#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-webcam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa722591-ed32-4562-94bf-9ae66f5ebd3a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}