#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-browserWindow > svg {
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-browserWindow {
  position: absolute;
  width: 888px;
  height: 561px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-browserWindow > img, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-browserWindow > svg {
  height: 561px;
  width: 888px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Image_3 {
  position: absolute;
  width: 77px;
  height: 73px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Image_3 > img, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Image_3 > svg {
  height: 73px;
  width: 77px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_1 {
  position: absolute;
  width: 161px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_1 > .paddingLayer {
  height: 20px;
  width: 161px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 {
  position: absolute;
  width: 85px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #99D3DF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 {
  position: absolute;
  width: 781px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 > .paddingLayer {
  height: 74px;
  width: 781px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 5px 0px #404040;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 {
  position: absolute;
  width: 100px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 > .paddingLayer {
  height: 13px;
  width: 94px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 5px 0px #404040;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 {
  position: absolute;
  width: 100px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 > .paddingLayer {
  height: 13px;
  width: 94px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Dropdown {
  position: absolute;
  width: 141px;
  height: 93px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Options {
  position: absolute;
  width: 141px;
  height: 66px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 {
  position: absolute;
  width: 141px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 > .paddingLayer {
  height: 31px;
  width: 124px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 {
  position: absolute;
  width: 141px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 > .paddingLayer {
  height: 31px;
  width: 124px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 {
  position: absolute;
  width: 141px;
  height: 31px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_3 > .paddingLayer {
  height: 27px;
  width: 122px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-arrow > svg {
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-arrow {
  position: absolute;
  width: 19px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-arrow > img, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-arrow > svg {
  height: 10px;
  width: 19px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 {
  position: absolute;
  width: 122px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 > .paddingLayer {
  height: 31px;
  width: 122px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 {
  position: absolute;
  width: 123px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 > .paddingLayer {
  height: 31px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_4 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_4 {
  position: absolute;
  width: 180px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Category_4 > .paddingLayer {
  height: 20px;
  width: 180px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 {
  position: absolute;
  width: 214px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 > .paddingLayer {
  height: 27px;
  width: 207px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_1 .icon {
  top: 6px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 textarea::-moz-placeholder {
  color: #B4B4B4;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 textarea:-moz-placeholder {
  color: #B4B4B4;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 {
  position: absolute;
  width: 271px;
  height: 257px;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 textarea {
  height: 255px;
  width: 264px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 1px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 > .clipping, #s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}