#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac30a377-5221-431c-b65d-a0bcb1a278b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}