#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-browserWindow {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_5 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_6 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_6 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_7 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_7 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_8 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_8 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_9 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_9 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_10 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Line_10 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d495a1f9-7866-49b6-8799-46549ecea684 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}