#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-browserWindow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff89943d-3fd4-4062-b43c-d42b5c642431 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}